/* stylelint-disable selector-id-pattern */

/* Inputs
-------------------------------------------------- */
.woocommerce {
  // Style labels
  .form-row > label:not(.woocommerce-form__label-for-checkbox) {
    color: $text-muted;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    margin-bottom: 0;
  }

  // Style all inputs
  select,
  .qty,
  .input-text {
    @extend .form-control;
  }

  .qty {
    width: 4.5em;
  }

  /* Form validation
  -------------------------------------------------- */
  form {
    .required {
      color: $danger;
    }
  }

  .woocommerce-invalid {
    label.checkbox {
      color: $danger;
    }

    input {
      border-bottom-color: $danger;
    }
  }
}

/* Shipping methods form
-------------------------------------------------- */
ul#shipping_method li {
  label {
    &::before,
    &::after {
      top: 2px;
    }
  }

  input[type="hidden"] + label {
    margin-left: -1.5rem;
  }
}

/* Checkout forms
-------------------------------------------------- */
.woocommerce-address-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper,
.woocommerce-additional-fields__field-wrapper {
  margin-bottom: 1.5rem;

  // Clearfix
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
