/* Columns
-------------------------------------------------- */
.woocommerce {
  .col2-set {
    @include make-row();

    .col-1,
    .col-2 {
      @include make-col-ready();
      @include make-col(12);

      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
    }
  }

  .form-row {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.75rem;
    width: 100%;

    @include media-breakpoint-up(sm) {
      &.form-row-first {
        float: left;
        clear: both;
        width: calc(50% - 8px);
      }

      &.form-row-last {
        float: right;
        width: calc(50% - 8px);
      }
    }
  }

  .clear {
    @extend .clearfix;
  }

  /* Butttons
  -------------------------------------------------- */
  .button {
    @extend .btn;
    @extend .btn-secondary;

    &.alt {
      @extend .btn-primary;
    }
  }

  /* Pagination
  -------------------------------------------------- */
  .woocommerce-pagination {
    margin: 0 auto;
    display: table;

    ul.page-numbers {
      @extend .pagination;

      li {
        @extend .page-item;

        > * {
          @extend .page-link;
        }
      }
    }
  }

  /* Tables
  -------------------------------------------------- */
  .shop_table {
    @extend .table;

    line-height: 1.4;

    th {
      background-color: $gray-100;
      font-weight: $font-weight-bold;
    }

    thead th {
      border-top: none;
      border-bottom: none;
    }

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    p {
      margin-bottom: 0.5rem;
    }

    .button {
      @extend .btn-sm;
    }
  }

  /* On Sale badge
  -------------------------------------------------- */
  .onsale {
    @extend .badge;
    @extend .badge-primary;

    position: absolute;
    right: 15px;
    top: -5px;
  }

  /* Remove icon
  -------------------------------------------------- */
  a.remove {
    display: inline-block;
    font-size: 1.25em;
    height: 0.75em;
    width: 0.75em;
    text-align: center;
    line-height: 0.75;
    border-radius: 100%;
    color: $red;
    text-decoration: none;
    border: 0;

    &:hover {
      color: $white;
      background: $red;
    }
  }
}
