/* Star ratings
-------------------------------------------------------------- */
.star-rating {
  font-size: 0.85rem;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  width: 5.4em;
  font-family: star, sans-serif;
  margin: 0.25em 4px 0.25em 0;

  .woocommerce-product-rating & {
    float: left;
  }

  &::before {
    content: "\73\73\73\73\73";
    color: $yellow;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
  }

  span::before {
    content: "\53\53\53\53\53";
    color: $yellow;
    top: 0;
    position: absolute;
    left: 0;
  }
}

// stylelint-disable no-descending-specificity
p.stars {
  &:hover a::before {
    content: "\e020";
  }

  a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: WooCommerce, sans-serif;
      content: "\e021";
      text-indent: 0;
    }

    &:hover ~ a::before {
      content: "\e021";
    }
  }

  &.selected {
    a:not(.active)::before {
      content: "\e020";
    }

    a.active {
      &::before {
        content: "\e020";
      }

      ~ a::before {
        content: "\e021";
      }
    }
  }
}
